<% @blogs.each do |blog| %>
<div class="post">
	<ul class="content_title"><%=h blog.blog_title %></ul>
	<ul class="content_subtitle"><span>Posted by <%=h blog.user.username %> on &nbsp;&nbsp;<%=blog.posted_on%></span></ul>
	<div class="entry">
	<p class="post_detail"><%=h(blog.blog_desc).gsub(/\n/, '<br/>') %></p>
	<p class="links">
		<%= link_to 'Read More',blog %>&nbsp;&nbsp;&nbsp;&nbsp;
	<% if getusertype == 'Admin' %>
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'New Blog', new_blog_path %>&nbsp;&nbsp;&nbsp;&nbsp;
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_blog_path(blog) %>&nbsp;&nbsp;&nbsp;&nbsp;
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	</p>
	
	</div>
</div>
<div style="clear: both;padding-bottom:5px;">&nbsp;</div>
<% end %>
<% if getusertype == 'Admin' %>
&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'New Blog', new_blog_path %>&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>
