<h1>Listing comments</h1>

<table>
  <tr>
    <th>Blog</th>
    <th>User</th>
    <th>Comment title</th>
    <th>Comment detail</th>
    <th>Ip address</th>
    <th>Comment flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= #comment.blog.blog_title
    %></td>
    <td><%= #comment.user.username
    %>
    </td>
    <td><%= comment.comment_title %></td>
    <td><%= h(comment.comment_detail).gsub(/\n/, '<br/>') %></td>
    <td><%= comment.ip_address %></td>
    <td><%= comment.comment_flag %></td>
    <td><%= link_to 'Show', comment %></td>
    <% if getusertype == 'Admin' %>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
