<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
<legend><%=@formTitle%></legend>
<ol>
  <li>
    <%= f.label "Title" %>
  </li>
  <li>
    <%= f.text_field :art_title, :size => 50 %>
  </li>
  <li>
    <%= f.label "Article Type" %>
  </li>
  <li>
    <%= f.text_field :art_type, :size => 50 %>
  </li>
  <li>
    <%= f.label "Article Source" %>
  </li>
  <li>
    <%= f.text_field :art_source, :size => 50 %>
  </li>
   <li>
    <%= f.label "Article Link" %>
  </li>
  <li>
    <%= f.text_field :art_link, :size => 50 %>
  </li>
  <li>
    <%= f.label :art_flag %>
  </li>
  <li>
    <%= f.text_field :art_flag, :size => 50 %>
  </li>
  <li>
    <%= f.label "Detail" %>
  </li>
  <li>
    <%= f.text_area :art_desc, :size => "90x25" %>
  </li>
 
  <!--<li>
    <%= f.label :art_date %>
    <%= f.datetime_select :art_date %>
  </li>-->
  <li>
    <%= f.hidden_field :user_id, :value => session[:user].id %>
  </li>
  <li>
      <fieldset>
    <%= f.submit %>
    </fieldset>
  </li>
  </ol>
</fieldset>
<% end %>
