<div class="post">
	<ul class="content_title"><%=h  @article.art_title %></ul>
	<ul class="content_subtitle">Posted by <%=h  @article.user.username %> on &nbsp;&nbsp;<%= @article.art_date%></ul>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
	<p><%=h( @article.art_detail).gsub(/\n/, '<br/>') %></p>
        <ul class="content_subtitle">Source: <%= @article.art_source %></ul>
        <ul class="content_subtitle">Link: <%= @article.art_link %></ul>
	<p class="links">
	<% if getusertype == 'Admin' %>
        <%= link_to 'Back', articles_path %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_article_path(@article) %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete %>
	<% else %>
          <%= link_to 'Back', articles_path %>&nbsp;&nbsp;&nbsp;&nbsp;
        <% end %>
	</p>
	
	</div>
</div>
<div style="clear: both;">&nbsp;</div>

<div id="all_comments">
<p class="comment_title">Comments:</p> 
<% @article.comment.each do |com|
#if (c.user) %> 
<ul class="comment_subtitle">  <b>  <%=h com.user.username %> </b> on </ul>
<!--<br><b>Title:</b><%=h com.comment_title %>-->
  <ul><%=h com.comment_detail %>  </ul>
  <div style="clear: both;">&nbsp;</div>
<% #end
end %>

</div>


<p class="comment_title">Comment here:</p>
<div id="new_comment">
  <div id="comment_message"></div>
<%form_for :comment, :url => {:controller=>:comments, :action => :create } do |f| %> 
<ol>
<%= f.hidden_field :user_id, :value => session[:user].id %>
<%= f.hidden_field :article_id, :value => @article.id %>
<!--<li>  <%= f.label :Title,nil, :class=>"customLoginlabel" %> </li><li> <%= f.text_field :comment_title %>  </li> -->
<!--<li>  <%= f.label :Comment,nil, :class=>"customLoginlabel" %></li>-->
<li>  <%= f.text_area :comment_detail,:size=>"70x3" %>  </li> 
<li><fieldset>  <%= f.submit "Post" %> </fieldset> </li>
</ol>
<% end %> 
</div>
<div style="clear: both;">&nbsp;</div>
