<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Ip address:</b>
  <%= @user.ip_address %>
</p>

<p>
  <b>User type:</b>
  <%= @user.user_type %>
</p>

<p>
  <b>Last login:</b>
  <%= @user.last_login %>
</p>

<% if getusertype == 'Admin' %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
