<% @feedbacks.each do |feedback| %>
<div class="post">
	<ul class="content_title"><%=h feedback.feedback_title %></ul>
	<ul class="content_subtitle"><span>Posted by <%=h feedback.user.username %> on &nbsp;&nbsp;<%=feedback.created_at%></span></ul>
	<!--<div style="clear: both;">&nbsp;</div>-->
	<div class="entry">
	<p class="post_detail"><%=h(feedback.feedback_detail).gsub(/\n/, '<br/>') %></p>
	<p class="links">
		<%= link_to 'Read More',feedback %>&nbsp;&nbsp;&nbsp;&nbsp;
	<% if getusertype == 'Admin' %>
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'New Feedback', new_feedback_path %>&nbsp;&nbsp;&nbsp;&nbsp;
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_feedback_path(feedback) %>&nbsp;&nbsp;&nbsp;&nbsp;
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Destroy', feedback, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	</p>
	
	</div>
</div>
<div style="clear: both;padding-bottom:5px;">&nbsp;</div>
<% end %>
<% if getusertype == 'Admin' %>
&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'New Feedback', new_feedback_path %>&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>
