<div id="content-inner">
<div class="content-right">
<% @todos.each do |todo| %>
	
	<h2><%=h todo.title %></h2>
  <h3 class="dateline"><%=h todo.priority %> on &nbsp;&nbsp;<%=todo.todo_date%></h3>
   <p class="intro"><%=h(todo.desc).gsub(/\n/, '<br/>') %></p>
   <p class="end-story-links"><%= link_to 'Show', todo %>
   <% if getusertype == 'Admin' %>
	| <%= link_to 'Edit', edit_todo_path(todo) %> |
   <%= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete %></p>
   <% end %>
<% end %>
<br />
 <% if getusertype == 'Admin' %>
<%= link_to 'New Todo', new_todo_path %>
<% end %>
</div>
</div>
