<% @todos.each do |todo| %>
<div class="post">
	<ul class="content_title"><%=h todo.title %></ul>
	<ul class="content_subtitle"><span>Priority <span style="font-weight:bold;color:#009909"><%=h todo.priority %></span> on &nbsp;&nbsp;<%=todo.todo_date%></span></ul>
	<!--<div style="clear: both;">&nbsp;</div>-->
	<div class="entry">
	<p class="post_detail"><%=h(todo.desc).gsub(/\n/, '<br/>') %></p>
	<p class="links">
		<%= link_to 'Read More',todo %>&nbsp;&nbsp;&nbsp;&nbsp;
	<% if getusertype == 'Admin' %>
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'New Todo', new_todo_path %>&nbsp;&nbsp;&nbsp;&nbsp;
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_todo_path(todo) %>&nbsp;&nbsp;&nbsp;&nbsp;
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	</p>
	
	</div>
</div>
<div style="clear: both;padding-bottom:5px;">&nbsp;</div>
<% end %>
<% if getusertype == 'Admin' %>
&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'New Todo', new_todo_path %>&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>
