<!DOCTYPE html>
<html>
<head>
  <title>Fast Line Info - Information Management System</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta name="Description" content="description" />
	<meta name="Keywords" content="keywords" />
	<%= stylesheet_link_tag 'jq/jquery-ui-1-8-2-custom','jq/uniform-default','fli','form' %>
	<%= javascript_include_tag 'jq/jquery-1-4-2-min','jq/jquery-ui-1-8-2-custom-min','jq/jquery-uniform-min','scripts/top'%>
	<%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
	    <%= render :partial => "home/inc_header" %>
    </div><!-- end header -->
    <div id="bread_crumb">
      <span><a href="/home">Home</a> > <a href=""> Articles </a></span>
    </div>
    <div id="content_body">
	<div id="sidebar">
		<%= render :partial => "home/inc_sidebar" %>
	</div><!-- sidebar ends here -->
	   
	<div id="content">
	  <p style="color: green"><%= flash[:notice] %></p>
	  <%= yield %>	
	</div><!-- content ends here -->
	
	<div id="rightbar">&nbsp;
        </div><!-- rightbar ends here -->
	   
    </div> <!-- content_body ends here -->	    
	    
    <div id="footer">
	<%= render :partial => "home/inc_footer" %>
    </div> <!-- footer ends here -->
		 
	 
  </div><!-- wrapper ends here -->
</body>
</html>
