<% @top_links.each do |top_link| %>
<div class="post">
	<ul class="content_title"><%=h top_link.title %></ul>
	<ul class="content_subtitle"><span>Category : <%=h top_link.title %></span></ul>
	<ul class="content_subtitle"><a href="<%=top_link.link_url %>" target="_new"><%=h top_link.link_url %></a></ul>
	<!--<div style="clear: both;">&nbsp;</div>-->
	<div class="entry">
	<p class="links">
		<%= link_to 'Read More',top_link %>&nbsp;&nbsp;&nbsp;&nbsp;
	<% if getusertype == 'Admin' %>
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'New Toplink', new_top_link_path %>&nbsp;&nbsp;&nbsp;&nbsp;
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_top_link_path(top_link) %>&nbsp;&nbsp;&nbsp;&nbsp;
	|&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Destroy', top_link, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	</p>
	
	</div>
</div>
<div style="clear: both;padding-bottom:5px;">&nbsp;</div>
<% end %>
<% if getusertype == 'Admin' %>
&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'New Toplink', new_top_link_path %>&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>


